{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>This is some text</p>
                
                <h2>This is a picture of me</h2>
                <img src="/static/me.jpeg"/>
            </div>
        </div>
    </div>
{{end}}
